.logoImagen{
    width: 45%;
    height: 25%;
    padding-left: 2.5%;
}   

.listaItemsHeader a{
    color:white;
}

main{
    background-color: rgb(0, 0, 0);
    font-family: "Inter", sans-serif;
}

footer{
    background-color: black;
    padding: 0.5%;
    color: white;
}

.listaItemsHeader .nav-link:hover,
.listaItemsHeader .nav-link.active {
    color: #f00 !important;
}

.contenedorIconosFooter{
    width:100%;
    display:inline-block;
    margin-top:1%;
}

.contenedorIconosFooter img{
    width: 2.5%;
    height: 2.5%;
    margin-left: 1%;
    margin-right: 1%;
}

.contenedorInfoFooter {
    display:block;
}

.contenedorInfoFooter a{
    width:100%;
}

.contenedorForm h3{
    font-size: 17px ;
}

.divsForm col input{
    width: 35%;
    height: 50%;
}

.inputsNombre::placeholder{
    font-size: 80%;
}

.inputsNombre{
    padding: 0%;
}

.contenedor:hover{
    background-color: rgb(19, 19, 19);
}

.contenedor{
    padding: 5%;
}

.titulo{
    font-family: "Bebas Neue" ;
    text-align: center;
    color: rgb(112, 0, 0);
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}

.inter-Tipografia {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}

.menuDesplegeable {
    background-color: black;
}

.presentacionAlbum{
    align-items:center ;
    text-align: left;
}

.descAlbum h2{
    font-size: 1.7rem;
    font-weight: 700;
}

.descAlbum h4{
    font-size: 1.2rem;
}

.contenedorAlbum{
    color:white;
    margin: 2.5%;
}

.albumes{
    padding: 5%;
}

.cancionesDelAlbum{
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    padding-left: 10%;
    align-content: center;
}

.presentacionAlbum img{
    width: 100%;
    height: 100%;
}

.presentacionAlbum{
    display:inline-block;
}

.contenedorIconos{
    width:100%;
    display:inline-block;
    margin-top:5%;
}

.info p{
    font-size: 1.2rem;
}

.contenedorIconos img{
    width: 7%;
    height: 7%;
    margin-left: 1%;
    margin-right: 1%;
}

.info{
    padding: 1.5%;
}

.listaCanciones li{
    text-align: left;
    font-size: 1.1rem;
}

.masCanciones{
    display:none;
}

@media(max-width: 980px) {
    .contenedorIconos img{
        width: 6%;
        height: 6%;
    }
}

