.logoImagen{
    width: 45%;
    height: 25%;
    padding-left: 2.5%;
}   

.listaItemsHeader a{
    color:white;
}

footer{
    background-color: black;
    padding: 0.5%;
}

.contenedorIconos{
    display:inline-block;
}

.contenedorIconos img{
   margin-left: 1%;
   margin-right: 1%;
}

.contenedorInfoFooter {
    display:block;
}
.contenedorInfoFooter a{
    width:100%;
}

.botonesCarousel{
    color:aliceblue;
}