.logoImagen{
    width: 45%;
    height: 25%;
    padding-left: 2.5%;
}   

.listaItemsHeader a{
    color:white;
}
body{
     background-color: black;
}
footer{
    background-color: black;
    padding: 0.5%;
}

.contenedorIconos{
    width:100%;
    display:inline-block;
    margin-top:1%;
}

.contenedorIconos img{
    width: 2.5%;
    height: 2.5%;
   margin-left: 1%;
   margin-right: 1%;
}

.contenedorInfoFooter {
    display:block;
}
.contenedorInfoFooter a{
    width:100%;
}

.botonesCarousel{
    color:aliceblue;
}
.contenedorForm{
    padding: 2.5%;
}

.divsForm{
    margin-top: 1%;
    margin-bottom: 1%;
}
