body {
    background-color: #121212;
    color: white;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.tarjetaMiembro img {
    height: 10%;
    width: 10%;
}

.logoImagen{
    width: 45%;
    height: 25%;
    padding-left: 2.5%;
}   

.listaItemsHeader a{
    color:white;
}

main{
    background-color: rgb(0, 0, 0);
    font-family: "Inter", sans-serif;
}

footer{
    background-color: black;
    padding: 0.5%;
    color: white;
}

.listaItemsHeader .nav-link:hover,
.listaItemsHeader .nav-link.active {
    color: #f00 !important;
}

.contenedorIconos{
    width:100%;
    display:inline-block;
    margin-top:1%;
}

.contenedorIconos img{
    width: 2.5%;
    height: 2.5%;
    margin-left: 1%;
    margin-right: 1%;
}

.contenedorInfoFooter {
    display:block;
}

.contenedorInfoFooter a{
    width:100%;
}